<%= link_to 'Add new', new_player_path%>

<%= link_to 'Create', new_post_path %>
<% if @players == [] %>

 <% else %>
 <% @players.each do |player| %>
 	<p>Player <b><%= player.nickname %></b> Rank <br />
 	<%= player.rank%><br>
    <%= player.charisma %><br>
    <%= player.wisdom %><br>

 	<%= link_to 'About',player_path(player.id) %> </p>
 	<% end %>

 <%end %>
